In [2]:
cd tabular-playground-series-may-2021

C:\Users\Madhuri\Documents\GitHub\stumbling-coder\KaggleCompetitions\KagglePlayGroundMay21\tabular-playground-series-may-2021

In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [7]:
train_data=pd.read_csv('train.csv'
                      )
test_data=pd.read_csv('test.csv')

In [9]:
train_data.describe()

,id,feature_0,feature_1,feature_2,feature_3,feature_4,feature_5,feature_6,feature_7,feature_8,...,feature_40,feature_41,feature_42,feature_43,feature_44,feature_45,feature_46,feature_47,feature_48,feature_49
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,...,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000,100000.00000
mean,49999.500000,0.257830,0.431720,0.114130,0.590550,0.599770,0.160820,0.731490,1.228920,0.903350,...,0.712270,0.582070,0.529230,0.616310,0.135100,0.358660,0.516810,0.39004,0.970850,0.55712
std,28867.657797,0.929033,1.977862,0.519584,1.844558,2.785531,0.601149,2.343465,2.692732,3.415258,...,1.721863,2.003114,2.300826,2.360955,0.627592,1.464187,2.171415,1.48735,2.576615,1.68093
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,-2.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000
25%,24999.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000
50%,49999.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000
75%,74999.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,1.000000,0.00000
max,99999.000000,10.000000,31.000000,6.000000,26.000000,38.000000,10.000000,27.000000,31.000000,39.000000,...,21.000000,32.000000,37.000000,33.000000,9.000000,26.000000,29.000000,25.00000,44.000000,20.00000

In [10]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 52 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   id          100000 non-null  int64
 1   feature_0   100000 non-null  int64
 2   feature_1   100000 non-null  int64
 3   feature_2   100000 non-null  int64
 4   feature_3   100000 non-null  int64
 5   feature_4   100000 non-null  int64
 6   feature_5   100000 non-null  int64
 7   feature_6   100000 non-null  int64
 8   feature_7   100000 non-null  int64
 9   feature_8   100000 non-null  int64
 10  feature_9   100000 non-null  int64
 11  feature_10  100000 non-null  int64
 12  feature_11  100000 non-null  int64
 13  feature_12  100000 non-null  int64
 14  feature_13  100000 non-null  int64
 15  feature_14  100000 non-null  int64
 16  feature_15  100000 non-null  int64
 17  feature_16  100000 non-null  int64
 18  feature_17  100000 non-null  int64
 19  feature_18  100000 non-null  int64
 20  feature_19  100000 non-null  int64
 21  feature_20  100000 non-null  int64
 22  feature_21  100000 non-null  int64
 23  feature_22  100000 non-null  int64
 24  feature_23  100000 non-null  int64
 25  feature_24  100000 non-null  int64
 26  feature_25  100000 non-null  int64
 27  feature_26  100000 non-null  int64
 28  feature_27  100000 non-null  int64
 29  feature_28  100000 non-null  int64
 30  feature_29  100000 non-null  int64
 31  feature_30  100000 non-null  int64
 32  feature_31  100000 non-null  int64
 33  feature_32  100000 non-null  int64
 34  feature_33  100000 non-null  int64
 35  feature_34  100000 non-null  int64
 36  feature_35  100000 non-null  int64
 37  feature_36  100000 non-null  int64
 38  feature_37  100000 non-null  int64
 39  feature_38  100000 non-null  int64
 40  feature_39  100000 non-null  int64
 41  feature_40  100000 non-null  int64
 42  feature_41  100000 non-null  int64
 43  feature_42  100000 non-null  int64
 44  feature_43  100000 non-null  int64
 45  feature_44  100000 non-null  int64
 46  feature_45  100000 non-null  int64
 47  feature_46  100000 non-null  int64
 48  feature_47  100000 non-null  int64
 49  feature_48  100000 non-null  int64
 50  feature_49  100000 non-null  int64
 51  target      100000 non-null  object
dtypes: int64(51), object(1)
memory usage: 39.7+ MB

In [11]:
train_data>0

TypeError: '>' not supported between instances of 'str' and 'int'