In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as  plt

In [9]:
DigiList=pd.read_csv('DigiDB_digimonlist.csv')
DigiMoves=pd.read_csv('DigiDB_movelist.csv')
DigiSupport=pd.read_csv('DigiDB_SupportList.csv')
DigiList.head(3)

,Number,Digimon,Stage,Type,Attribute,Memory,Equip Slots,Lv 50 HP,Lv50 SP,Lv50 Atk,Lv50 Def,Lv50 Int,Lv50 Spd
0,1,Kuramon,Baby,Free,Neutral,2,0,590,77,79,69,68,95
1,2,Pabumon,Baby,Free,Neutral,2,0,950,62,76,76,69,68
2,3,Punimon,Baby,Free,Neutral,2,0,870,50,97,87,50,75

In [10]:
DigiMoves.head(2)

,Move,SP Cost,Type,Power,Attribute,Inheritable,Description
0,Wolkenapalm I,3,Physical,65,Fire,Yes,"Physical attack, 65 Fire damage to one foe. 95..."
1,Wolkenapalm II,6,Physical,85,Fire,Yes,"Physical attack, 85 Fire damage to one foe. 95..."

In [12]:
DigiSupport.head(3)

            Name                             Description
0  Adroit Wisdom                   Increases INT by 15%.
1    All-Rounder  Increases ATK, DEF, INT and SPD by 5%.
2        Analyze           Increases scan values by 10%.